<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="mesha">
    <title>{{ article.main_title }}</title>

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/static/css/home_css/settings.css" media="screen">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/home_css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/home_css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/home_css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/home_css/main.css" rel="stylesheet">
    <link href="/static/css/home_css/style.css" rel="stylesheet">
    <link href="/static/css/home_css/responsive.css" rel="stylesheet">
    <link href="/static/css/home_css/flaticon.css" rel="stylesheet">

    <!-- FAVICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">

    <!-- JavaScripts -->
    <script src="{{ url_for('static', filename='js/home_js/modernizr.js') }}"></script>


    <!-- Online Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Poppins:300,400,500,600,700|Montserrat:300,400,500,600,700,800"
        rel="stylesheet">
    <!-- Online Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {# bootsrap CDN #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

    <!-- LOADER -->
    <!-- <div id="loader">
    <div class="position-center-center">
        <div class="ldr"></div>
    </div>
</div> -->

    <!-- Wrap -->
    <div id="wrap">


        <!-- Content -->
        <div id="content">
            <!--======= SUB BANNER =========-->
            <section class="sub-bnr" data-stellar-background-ratio="0.5">
                <div class="position-center-center">
                    <div class="container">
                        <h4>RealtimeArticles Article Details </h4>
                        <ol class="breadcrumb">
                            <li><a href="{{ url_for('home.index') }}">Home</a></li>
                            <li><a href="{{ url_for('category.categories') }}">Blog</a></li>
                        </ol>
                    </div>
                </div>
            </section>


            <!-- Blog List -->
            <section class="blog-list blog-list-3 single-post padding-top-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">

                            <!-- Article -->
                            {% if article %}
                            <article>

                                <!-- Tittle -->
                                <div class="post-tittle left">
                                    <h1 class="tittle">{{ article.main_title }}</h1>
                                    <!-- Post Info -->
                                    <span><i class="primary-color fas fa-user"></i> by {{ article.author.username
                                        }}</span>
                                    <span><i class="primary-color fas fa-calendar"></i> {{
                                        article.date_published.strftime('%B %d, %Y') }}</span>
                                    <span><a href="{{ url_for('category.get_articles_by_category', category_id = article.id) }}"
                                            style="color: seagreen"><i class="primary-color fas fa-tag"></i> {{
                                            article.category.name }}</a></span>

                                    {% if article.main_image != '' %}
                                    <img class="img-responsive-1"
                                        src="{{ url_for('home.get_uploaded_image', filename=article.main_image) }}"
                                        alt="Image">
                                    {% else %}
                                    <p>No image available ! </p>
                                    {% endif %}
                                </div>
                                <!-- Post Content -->
                                <div class="text-left">
                                    {{ article.main_content|safe }}
                                    <!-- Tags -->
                                    <div class="row margin-top-50">

                                        <!-- Share With -->
                                        <div class="col-md-5">
                                            <h5 class="shop-tittle">share with</h5>
                                            <ul class="share-post padding-left-15">
                                                <li><a href="#"><i class="primary-color fab fa-facebook"></i>
                                                        Facebook</a>
                                                </li>
                                                <li><a href="#"><i class="primary-color fab fa-twitter"></i>
                                                        Twitter</a></li>
                                            </ul>

                                        </div>
                                    </div>

                                    <!-- ADMIN info -->
                                    <div class="admin-info">
                                        <div class="media-left">
                                            <div class="admin-pic"><img src="/static/images/home_images/video-img.jpg"
                                                    alt="Profile"></div>
                                        </div>
                                        <div class="media-body">
                                            <h6>Mesha M. <span>Founder</span></h6>
                                            <p>"Explore a world of inspiration and empowerment at RealtimeArticles. Dive
                                                into our curated articles for insights, reflection, and shared growth.
                                                Join our community on a journey of discovery and evolution!"</p>
                                            <div class="admin-social">
                                                <a href="#."><i class="fab fa-facebook"></i></a>
                                                <a href="#."><i class="fab fa-twitter"></i></a>
                                                <a href="#."><i class="fab fa-dribbble"></i></a>
                                                <a href="#."><i class="fas fa-envelope"></i></a>
                                            </div>

                                        </div>
                                    </div>

                                    <!--=======  COMMENTS =========-->
                                    <div class="comments margin-top-80">
                                        <h5 class="shop-tittle">Comments</h5>
                                        <ul class="media-list padding-left-15">
                                            <!--=======  COMMENTS =========-->
                                            <h3>Coming Soon!</h3>
                                        </ul>
                                        <hr>

                                        <!--=======  LEAVE COMMENTS =========-->
                                        <h5 class="shop-tittle margin-top-80">POST YOUR COMMENTS</h5>
                                        <form class="padding-left-15">
                                            <ul class="row">
                                                <li class="col-sm-4">
                                                    <label>Name
                                                        <input type="text" class="form-control" name="name"
                                                            placeholder="">
                                                    </label>
                                                </li>
                                                <li class="col-sm-4">
                                                    <label>Email
                                                        <input type="text" class="form-control" name="name"
                                                            placeholder="">
                                                    </label>
                                                </li>
                                                <li class="col-sm-4">
                                                    <label>Subject
                                                        <input type="text" class="form-control" name="name"
                                                            placeholder="">
                                                    </label>
                                                </li>
                                                <li class="col-sm-12">
                                                    <label>COMMENTS
                                                        <textarea class="form-control" placeholder=""></textarea>
                                                    </label>
                                                </li>
                                                <li class="col-sm-12">
                                                    <button type="submit" class="btn margin-top-30">Submit Comment
                                                    </button>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>

                                </div>
                            </article>
                            {% endif %}
                            <hr>

                            <!--  You May Like -->
                            <h5 class="shop-tittle margin-top-50 margin-bottom-50">you may like </h5>
                            <div class="alos-like padding-left-15">
                                <!-- Article -->
                                {% if similar_posts %}
                                <article>
                                    {% for post in similar_posts %}
                                    <div class="row">
                                        <div class="col-sm-5">
                                            {% if post.main_image %}
                                            <img class="img-responsive-1"
                                                src="{{ url_for('home.get_uploaded_image', filename=post.main_image) }}"
                                                alt="Image">
                                            {% else %}
                                            <p>image</p>
                                            {% endif %}
                                            <div class="col-sm-15">
                                                <!-- Tittle -->
                                                <div class="post-tittle left"><a href="#." class="tittle">{{
                                                        post.main_title }}</a>
                                                    <!-- Post Info -->
                                                    <span><i class="primary-color fas fa-user"></i> by {{
                                                        post.author.username }}</span>
                                                    <span><i class="primary-color fas fa-calendar"></i> {{
                                                        post.date_published.strftime('%B %d, %Y') }}</span>
                                                    <span><a href="{{ url_for('category.get_articles_by_category', category_id = post.id) }}"
                                                            style="color: seagreen"><i
                                                                class="primary-color fas fa-tag"></i> {{
                                                            post.category.name }}</a></span>
                                                    <!-- Post Content -->
                                                    <div class="text-left">
                                                        <p> {{ post.main_content | safe }}</p>
                                                        <a href="{{ url_for('home.article_details', id = post.id) }}"
                                                            class="red-more"> READ MORE </a>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                </article>
                                {% else %}
                                <P>No related articles!</P>
                                {% endif %}

                            </div>
                        </div>


                        <!-- Sider Bar -->
                        <div class="col-md-3">
                            <div class="search">
                                <input class="form-control" type="search" placeholder="Search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="sidebar">
                                <!-- Category -->
                                <h5 class="shop-tittle margin-bottom-20">Category</h5>
                                {% if category_blog_count %}
                                <ul class="shop-cate">
                                    {% for category, blog_count in category_blog_count %}
                                    <li><a
                                            href="{{ url_for('category.get_articles_by_category', category_id = category.id) }}">{{
                                            category.name }}
                                            <span>({{ blog_count }} articles)</span></a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                <!-- Recent Post -->
                                <h5 class="shop-tittle margin-top-60 margin-bottom-30">recent post</h5>
                                {% if recent_posts %}
                                <ul class="papu-post margin-top-20">
                                    {% for post in recent_posts %}
                                    <li class="media">
                                        <div class="media-left"><a
                                                href="{{ url_for('home.article_details', id=post.id) }}"> <img
                                                    class="media-object"
                                                    src="{{ url_for('home.get_uploaded_image', filename=post.main_image) }}"
                                                    alt="IMAGE"></a>
                                        </div>
                                        <div class="media-body"><a class="media-heading"
                                                href="{{ url_for('home.article_details', id=post.id) }}">
                                                {{ post.main_title }}
                                            </a>
                                            <span>Posted on {{ post.date_published.strftime('%B %d, %Y') }}</span>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                <!-- BRAND -->
                                <h5 class="shop-tittle margin-top-60 margin-bottom-10">archives</h5>
                                <ul class="shop-cate">
                                    <li><a href="#"> January 2024 </a></li>
                                    <li><a href="#"> February 2024 </a></li>
                                    <li><a href="#"> March 2024 </a></li>
                                    <li><a href="#"> April 2024 </a></li>
                                </ul>

                                <!-- SIDE BACR BANER -->
                                {# <div class="side-bnr margin-top-50"><img class="img-responsive"
                                        src="images/sidebar-bnr.jpg" #} {# alt="">#}
                                    {# <div class="position-center-center"><span
                                            class="price"><small>$</small>299</span>#}
                                        {# <div class="bnr-text">look hot with style#}
                                            {# </div>#}
                                        {# </div>#}
                                    {# </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- About -->
            <section class="small-about">
                <div class="container-full">
                    <div class="news-letter padding-top-150 padding-bottom-150">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 style="text-align: justify-all">"Discover personalized insights and stay connected
                                    with
                                    our newsletter, delivering valuable content tailored to empower your success and
                                    keep
                                    you ahead in today's fast-paced world."
                                </h3>
                                <ul class="social-icons list-inline">
                                    <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><i
                                                class="fab fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com" target="_blank"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.tumblr.com" target="_blank"><i
                                                class="fab fa-tumblr"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.youtube.com" target="_blank"><i
                                                class="fab fa-youtube"></i></a></li>
                                    <li class="list-inline-item"><a href="https://dribbble.com" target="_blank"><i
                                                class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h3>Subscribe Our Newsletter</h3>
                                <span>Stay ahead with exclusive insights!</span>
                                <form>
                                    <input type="email" placeholder="Enter your email address" required="">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- ABOUT Location -->
                    <div class="col-md-4">
                        <div class="about-footer"><img class="margin-bottom-30" src="images/logo-foot.png" alt="">
                            <p><i class="fas fa-mouse-pointer"></i> <!-- Pointer icon --> Street No. 12, Nairobi, <br>
                                MD - 123, Nairobi.</p>
                            <p><i class="fas fa-phone-alt"></i> <!-- Call end icon --> 1.800.123.456789 <br>
                                1.800.123.456789</p>
                            <p><i class="fas fa-envelope"></i> <!-- Envelope icon --> info@RealtimeArticles.com <br>
                                contact@REaltimeArticles.com</p>
                        </div>
                    </div>

                    <!-- HELPFUL LINKS -->
                    <div class="col-md-5">
                        <h6>Links</h6>
                        <ul class="link two-half">
                            <li><a href="#."> Privacy Policy</a></li>
                            <li><a href="{{ url_for('home.index') }}"> Blog</a></li>
                        </ul>
                    </div>

                    <!-- HELPFUL LINKS -->
                    <div class="col-md-3">
                        <h6>Account Info</h6>
                        <ul class="link">
                            <li><a href="#."> Products</a></li>
                            <li><a href="#."> Features</a></li>
                            <li><a href="#."> Privacy Policy</a></li>
                            <li><a href="#."> Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Rights -->
            <div class="rights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>© 2024 RealtimeArticles All right reserved. <a
                                    href="{{ url_for('home.index') }}">RealtimeArticles</a>
                            </p>
                        </div>
                        <div class="col-md-6 text-right"><img src="images/card-icon.png" alt=""></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='/js/home_js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/home_js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/home_js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/home_js/own-menu.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/home_js/jquery.lighter.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/home_js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/home_js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/home_js/main.js') }}"></script>
    <script>
        window.onload = function () {
            // Get the first paragraph element
            var firstParagraph = document.querySelector('.text-left p');

            // Get the text content of the first paragraph
            var text = firstParagraph.textContent;

            // Get the first character of the text content
            var firstChar = text.charAt(0);

            // Wrap the first character with a span element
            var dropCap = '<span class="drop-cap">' + firstChar + '</span>';

            // Replace the first character in the paragraph with the drop cap
            firstParagraph.innerHTML = dropCap + text.substring(1);
        };

    </script>
</body>

</html>