<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="M_Adnan">
    <title>{{ title }}</title>

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/static/css/home_css/settings.css" media="screen">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/home_css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/home_css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/home_css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/home_css/main.css" rel="stylesheet">
    <link href="/static/css/home_css/style.css" rel="stylesheet">
    <link href="/static/css/home_css/responsive.css" rel="stylesheet">
    <link href="/static/css/home_css/flaticon.css" rel="stylesheet">

    <!-- JavaScripts -->
    <script src="{{ url_for('static', filename='js/home_js/modernizr.js') }}"></script>

    <!-- Online Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link
            href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Poppins:300,400,500,600,700|Montserrat:300,400,500,600,700,800"
            rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- LOADER -->
<div id="loader">
    <div class="position-center-center">
        <div class="ldr"></div>
    </div>
</div>

<!-- Wrap -->
<div id="wrap">


    <!-- Content -->
    <div id="content">
        <!--======= SUB BANNER =========-->
        <section class="sub-bnr" data-stellar-background-ratio="0.5">
            <div class="position-center-center">
                <div class="container">
                    <h4 class="animated-heading">Realtime Articles</h4> <!-- Add class for animated heading -->
                    <p class="tagline">Unleashing the Power of Words</p> <!-- Add unique tagline -->
                    <ol class="breadcrumb">
                        <li><a href="#"></a></li> <!-- Adjust breadcrumb text -->
                    </ol>
                </div>
            </div>
        </section>

        <header id="masthead" class="site-header" role="banner">
            <div class="double-underline"></div> <!-- Add double underline -->
            <div id="navbar" class="navbar">
                <div class="container">
                    <h3 class="menu-toggle">
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-bars"></i> Menu
                        </button>
                    </h3> <!-- Add menu toggle icon -->
                    <nav id="site-navigation" class="navigation main-navigation" role="navigation">
                        <div class="nav-menu">
                            <ul>
                                <li class="page_item page-item-599"><a href="#" data-wpel-link="internal">Home</a></li>
                                <li class="page_item page-item-39"><a href="#" data-wpel-link="internal">BLOGS</a></li>
                                <li class="page_item page-item-39"><a href="#" data-wpel-link="internal">CATEGORY</a>
                                </li>
                                <li class="page_item page-item-717"><a href="#" data-wpel-link="internal">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- #site-navigation -->
                </div><!-- .container -->
            </div><!-- #navbar -->
        </header>


        <!-- Blog List -->
        <section class="blog-list blog-list-3 padding-top-100 padding-bottom-100">
            <div class="container-fluid" style="display: flex">
                {% if articles %}
                    {% for article in articles %}
                        <div class="row" >
                            <article class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="img-responsive"
                                             src="{{ url_for('home.get_uploaded_image', filename=article.main_image) }}"
                                             alt="Image">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="post-tittle left">
                                            <a href="#." class="tittle">{{ article.main_title }}</a>
                                            <span><i
                                                    class="primary-color fas fa-user"></i>  by {{ article.author_id.username }}</span>
                                            <span><i
                                                    class="primary-color fas fa-calendar"></i> {{ article.date_published.strftime('%B %d, %Y') }}</span>
                                            <span><i class="primary-color fas fa-comment"></i> 05</span>
                                            <span><i
                                                    class="primary-color fas fa-tag"></i> {{ article.date_published.strftime('%B %d, %Y') }}</span>

                                        </div>
                                        <div class="text-left">
                                            <p>{{ article.main_content }}</p>
                                            <a href="#." class="red-more">READ MORE</a>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>


    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- ABOUT Location -->
                <div class="col-md-4">
                    <h6>Realtime Articles</h6>
                    <div class="about-footer"><img class="margin-bottom-30" src="#" alt="">
                        <p><i class="primary-color fas fa-phone-alt"></i> 1.800.123.456789 <br>
                            1.800.123.456789</p>
                        <p><i class="primary-color fas fa-envelope"></i> info@realtimeArticles.com <br>
                            contact@BoShop.com</p>
                    </div>
                </div>

                <!-- HELPFUL LINKS -->
                <div class="col-md-3">
                    <h6>Links</h6>
                    <ul class="link">
                        <li><a href="#."> Blogs </a></li>
                        <li><a href="{{ url_for('user.login') }}"> Admin</a></li>
                    </ul>
                </div>

                <!-- HELPFUL LINKS -->
                <div class="col-md-3">
                    <h6>Social Info</h6>
                    <ul class="link">
                        <li><a href="#."> Facebook</a></li>
                        <li><a href="#."> Twitter</a></li>
                        <li><a href="#.">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Rights -->
        <div class="rights">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: center;">© 2024 RealtimeArticles All right reserved. <a
                                href="https://webicode.com/">Meshack</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="{{ url_for('static', filename='/js/home_js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/home_js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/home_js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/home_js/own-menu.js') }}"></script>
<script src="{{ url_for('static', filename='/js/home_js/jquery.lighter.js') }}"></script>
<script src="{{ url_for('static', filename='/js/home_js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/home_js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/home_js/main.js') }}"></script>


<script>
    // JavaScript to toggle the active class on menu toggle click
    document.addEventListener('DOMContentLoaded', function () {
        const menuToggle = document.querySelector('.menu-toggle');
        const navMenu = document.querySelector('.nav-menu');

        menuToggle.addEventListener('click', function () {
            navMenu.classList.toggle('active');
        });
    });
</script>

</body>

</html>